<!DOCTYPE html>
<html id="html-tag" lng="en">
	<head id="head-tag">
		<title id="title-tag"><?php echo $this->getTitle(); ?></title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		
		<link rel="icon" type="image/png" href="webapps/<?php echo $this->get('appName'); ?>/favico.png" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,600,400,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Oswald:400' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
		
		<script>__CLIENT__ = {token : '<?php echo $this->get('app:token'); ?>'};</script>
		<?php \Imports::javascript('config', $this->get('appName')); \Imports::enskaui(); \Imports::app($this->get('appName')); ?>
		
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<![endif]-->
	</head>
	
	
	<!--[if IE 7]> <body oncontextmenu="return true" id="body-tag" class="ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
	<!--[if IE 8]> <body oncontextmenu="return true" id="body-tag" class="ie8 lt-ie9 lt-ie10"> <![endif]-->
	<!--[if IE 9]> <body oncontextmenu="return true" id="body-tag" class="ie9 lt-ie10"> <![endif]-->
	<!--[if (gt IE 9)|!(IE)]><!--> <body oncontextmenu="return true" id="body-tag"> <!--<![endif]-->
	
	<div id="app:templates" class="xx-hide xx-none"> <?php \Imports::templates($this->get('app:tplPath'), $this->gets()); ?> </div>
	<?php \Imports::app($this->get('app:bootstrap')); \Imports::javascript('app', $this->get('appName')); ?>
	
</html>