<!DOCTYPE html>
<html id="html-tag" lng="en">
	<head id="head-tag">
		<title id="title-tag"><?php echo $this->getTitle(); ?></title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/png" href="webapps/favico.png" />
	</head>
	<body oncontextmenu="return true" id="body-tag">
		
		<!-- LOGIN BLOCK -->
			<div class="container-fluid">
				<div class="row" style="height: 100px;"></div>
		        <div class="row">
		            <h1 style="text-align: center;"><?php echo $this->get('label'); ?></h1>
		            <div class="col-sm-4 col-sm-offset-4">
		                <div class="panel panel-default">
		                    <div class="panel-body">
		                        <div id="login-alert" class="alert alert-warning xx-none">
		                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
		                            <i class="fa fa-exclamation-circle"></i> <span id="login-alert-text">Error</span>
		                        </div>
		                        <div id="login-success" class="alert alert-success xx-none">
		                            Welcome back ! Loading dashboard ... <i class="fa fa-spinner fa-spin"></i> 
		                        </div>
		                        <form role="form" action="" method="POST">
		                            <div class="form-group">
		                                <div class="input-group">
		                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
		                                    <input type="text" class="form-control" placeholder="Login / E-Mail" name="login" id="login">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <div class="input-group">
		                                    <span class="input-group-addon"><i class="fa fa-shield"></i></span>
		                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
		                                </div>
		                            </div>	
		                            <div class="text-right">
		                            	<a class="btn btn-success lnk" id="process">Login <i class="fa fa-fw fa-unlock-alt"></i></a>
		                            </div>
		                            <div class="text-left xx-none">
		                                <a href="platform/recovery_password" class="forgot-pass">
								            Forgot your Password <i class="fa fa-question-circle"></i>
								        </a>
		                            </div>
		                        </form>
		                    </div>
		                </div>
		            </div>
		        </div>
	    	</div>
    	<!-- END LOGIN BLOCK -->
    	
	</body>
	
	<?php \Imports::enskaui(); ?>
	
	<script>
		var href = "<?php echo $this->get('form:href'); ?>";
		var uri = "<?php echo $this->get('form:login'); ?>";
		
		Ext.onReady(function() {
			
			var error = function (err) {
				var elE = Ext.get('login-alert'), elS = Ext.get('login-success'), elT = Ext.get('login-alert-text');
				if (elT) { elT.dom.innerHTML = err; }
				if (elS.hasClass('xx-block')) { elS.removeClass('xx-block'); elS.addClass('xx-none'); }
				if (elE.hasClass('xx-none')) { elE.removeClass('xx-none'); elE.addClass('xx-block'); }
			};
			
			var redirect = function () {
				elE = Ext.get('login-alert'); elS = Ext.get('login-success');
				if (elE.hasClass('xx-block')) { elE.removeClass('xx-block'); elE.addClass('xx-none'); }
				if (elS.hasClass('xx-none')) { elS.removeClass('xx-none'); elS.addClass('xx-block'); }
				setTimeout(function (){ location.href=href; }, 3000);
			};
			
			var setCookie = function (name, value, time, type) {
				var domain = '<?php echo $this->get('app:domain'); ?>'; var cookieTime = 1000; time = time || 1; type = type || 'i';
				cookieTime =  (type === "d") ? time*24*60*60*1000 : ((type === "h") ? 1*time*60*60*1000 : ((type === "i") ? 1*1*time*60*1000 : 1000));
				var date = new Date(); date.setTime(date.getTime()+(cookieTime));
				var expires = "; expires="+date.toGMTString();
				document.cookie = name+"="+value+expires+"; domain=." + domain + "; path=/";
			};
			
			var remCookie = function (name, value, time, type) {
				var domain = '<?php echo $this->get('app:domain'); ?>';
				document.cookie = name + "=-1; expires=-1; domain=." + domain + "; path=/";
			};
			
			var login = function (result) {
				result = result || {};
				if (result.auth === "FAILED" || result.auth === "LOGIN") { remCookie('__token__'); error('Authentification failed'); }
				else if (result.auth === "SUCCESS") { setCookie('__token__', result.token, 30); redirect(); }
			};
			
			var request = function () {
					Ext.Ajax.request ({
					    url		: uri,
						method	: 'POST',
						params	: {
							login		: Ext.get('login').getValue(),
							password	: Ext.get('password').getValue(),
							token		: '<?php echo $this->get('app:token'); ?>'
						},
					    success	: function(resObj) {
					    	result = {};
					    	try {
								result = JSON.parse(resObj.responseText);
								if (result.meta && !result.error) { login(result.meta); return; }
							}
							catch (e) { result.error = e; }
							error(result.error);
					    },
						failure: function(resObj) { error('Login error: ' + resObj.statusText); }
					}
				);
			};
			
			Ext.get('process').on('click', function (e, el) { request(); });
		});
	</script>
	
</html>